@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Inter:wght@100;200;300;400;500;600 & display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
:root{
    --red:#d63a25;
    --white:#fff;
    --dark:#1e1c2a; 
    --color-netrual-0: #0e0e0e;
    --color-netrual-10: #171717;
    --color-netrual-30: #aa8a29e;
    --color-netrual-40: #f5f5f5;
}
/* parte do corpo */
body{
    color: var(--dark);
    background: var(--white);
}

/* menu */
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem #ccc;
    width: 100%;
    background: var(--white);
    transition: all 0.5s;
    position: fixed;
}
.navigation .logo{
    color: var(--red);
    font-size: 1.7rem;
    font-weight: 600;
}

/* logo */
.logo span{
    color: var(--dark);
}
.navigation ul{
    display: flex;
    align-items: center;
    gap: 5rem;
}
.navigation ul li a{
    color: var(--dark);
    font-size: 17px;
    font-weight: 500;
    transition: all 0.5s;
}
.navigation ul li a:hover{
    color: var(--red);
}
.navigation i{
    cursor: pointer;
    font-size: 1.5rem;
}
.menu{
    cursor: pointer;
    display: none;
}
.menu .bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: var(--dark);
    margin: 5px auto;
    transition: all 0.3s;
}
.menu .bar:nth-child(1),
.menu .bar:nth-child(3){
    background: var(--red);
}
.home{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
}
.home-text{
    max-width: 37rem;
}
.home-text .text-h4{
    font-size: 1.5rem;
    color: var(--red);
    margin-bottom: 1rem;
}
.home-text .text-h1{
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 4rem;
}
.home-text p{
    margin-bottom: 4rem;
}
.home-btn{
    padding: 15px 45px;
    background: var(--red);
    color: var(--white);
    border-radius: 10px;
    font-weight: 700;
    transition: all 0.5s;
}
.home-btn:hover{
    background: #fc4c35;
}
.home-img img{
    width: 100%;
    height: 100%;
    max-width: 785px;
    max-height: 500px;
}




/* parte responsivo */
@media (max-width:785px) {
    .navigation{
        padding: 18px 20px;
    }
    .menu{
        display: block;
    }
    .menu.ativo .bar:nth-child(1){
        transform:  translateY(8px) rotate(45deg);
    }
    .menu.ativo .bar:nth-child(2) {
        opacity: 0;
    }
    .menu.ativo .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        right: -100%;
        top: 70px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: var(--white);
        gap: -10px;
        transition: 0.3s;
    }
    .nav-menu.ativo{
        right: 0;
    }
    .nav-item{
        margin: 16px 0;
    }
    /*main*/
    .home{
        grid-template-columns: 1fr;
    }
    .home .text-h4{
        font-size: 15px;
    }
    .home .text-h1{
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .home p{
        font-size: 15px;
    }
    .home-img{
        width: 125%;
    }
}  


main{
    height: 80vh;
}



/* footer */
footer{
    width: 100%;   /*mexe com a lateral*/
    color: var(--color-netrual-40);
    letter-spacing: 1px;

}

.footer-link{
text-decoration: none;
color: #fff;
}

.footer-link:hover{
    color: #d63a25;
}

#footer_content{
    background-color: var(--color-netrual-10);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 3rem 3.5rem;
    margin-top: 20rem;
  
}

#footer_contacts h1{
margin-bottom: 0.75remm;
}

#footer_social_media{
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem; 
}

#footer_social_media .footer-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-netrual-40);
    border-radius: 50%;
    transition: all 0.4s;
    color: #d63a25;
}

#footer_social_media .footer-link i{
    font-size: 1.25rem;
}

#footer_social_media .footer-link:hover{
    opacity: 0.8; 
}



.footer-list{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;    
}









#footer_copyright{
    display: flex;
    justify-content: center;
    background-color: var(--color-netrual-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}


/* responsivo footer */
@media (max-width: 768px) {
    #footer_content{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    
}


    



